* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", system-ui, sans-serif;
}

:root {
    --base-escuro: #142537;
    --base-medio: #2A4157;
    --base-claro: #8C9DAC;
    --branco: #FFFFFF;
    --detalhes: #263A4E;
    --verde: #45d361;
    --vermelho: #e54545;
}

.tema-claro {
    --base-escuro: #524430;
    --base-medio: #8e7e58;
    --base-claro: #d4c1a4;
    --branco: #FFFFFF;
    --detalhes: #83754b;
    --verde: #45d361;
    --vermelho: #e54545;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    width: 100%;
    min-height: 100vh;
}

body {
    background-color: var(--base-medio);
    opacity: 1;
    background-image:
        radial-gradient(
            var(--detalhes) 1.8px,
            transparent 1.8px
        ),
        radial-gradient(
            var(--detalhes) 1.8px,
            var(--base-medio) 1.8px
        );
    background-size: 24px 24px;
    background-position: 0 0, 12px 12px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    background-color: var(--base-escuro);
    padding: 5px 10px;
    position: sticky;
    top: 0;
}

main {
    display: flex;
    flex: 1;
    height: 90vh;
}

.opcoes-header {
    display: flex;
    gap: 0.5rem;
}

.logo {
    color: var(--branco);
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 15px 25px;
    font-size: clamp(1.05rem, 1.5vw, 1.5rem);
    font-weight: 600;
    text-decoration: none;
}

.engrenagem,
.icone-notif,
.icone-perfil {
    display: flex;
    align-items: center;
    padding: 15px;
    flex-shrink: 0;
    transition: 0.3s ease;
}

.engrenagem svg,
.icone-notif svg,
.icone-perfil svg {
    fill: var(--branco);
}

.icone-notif:hover,
.icone-perfil:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s ease;
}

.configuracoes-dropdown {
    display: inline-block;
    flex-shrink: 0;
}

.configuracoes-dropdown .opcoes {
    display: none;
    position: absolute;
    min-width: 170px;
    transform: translateX(-100px);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.configuracoes-dropdown:hover {
    cursor: pointer;
}

.configuracoes-dropdown:hover .opcoes {
    display: block;
}

.tema {
    display: flex;
    gap: 10px;
    background-color: var(--base-medio);
    padding: 5px 10px;
    border: 2px solid var(--base-claro);
    border-radius: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--branco);
}

#botao-switch {
    background-color: transparent;
    border: none;
    padding: 5px;
}

#botao-switch svg {
    display: flex;
    align-self: center;
    fill: var(--branco);
}

#botao-switch:hover {
    cursor: pointer;
}

#botao-switch svg:last-child {
    display: none;
}

.tema-claro #botao-switch svg:first-child {
    display: none;
}

.tema-claro #botao-switch svg:last-child {
    display: block;
}

.espaco-conteudo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: fit-content;
    background-color: var(--branco);
    border-radius: 7px;
    margin-top: 1rem;
    padding: 25px 30px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.aviso {
    width: 60%;
    text-align: left;
    margin: 0 auto;
    padding-top: 10px;
    font-weight: bold;
    font-size: clamp(0.8rem, 1.5vw, 1.2rem);
    color: var(--vermelho);
}

#sucesso {
    color: var(--verde);
}

.formulario {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    gap: 0.5rem;
}

#foto-atual {
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    aspect-ratio: 1/1;
    border: 3px solid var(--base-escuro);
}

.opcoes-foto {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#nome,
#email {
    font-weight: 500;
    font-size: clamp(0.95rem, 1.3vw, 1.1rem);
    padding: 8px 14px;
    border-radius: 5px;
    border: 2px solid var(--base-claro);
    color: var(--base-escuro);
}

#email:focus,
#nome:focus {
    outline: none;
    border: 2px solid var(--base-escuro);
}

.botao {
    background-color: var(--base-escuro);
    color: var(--branco);
    border: 2px solid var(--base-escuro);
    border-radius: 5px;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
    font-size: clamp(0.9rem, 1.3vw, 1.1rem);
    font-weight: 600;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    transition: 0.2s ease;
}

.botao:hover {
    cursor: pointer;
    color: var(--base-escuro);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
    background-color: var(--branco);
}

#foto-perfil {
    display: none;
}

.foto-container {
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
}

.espaco-foto {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#remover {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    background-color: var(--vermelho);
    border: 2px solid var(--vermelho);
}

#remover:hover {
    cursor: pointer;
    color: var(--vermelho);
    box-shadow: 0px 0px 10px 0px rgba(247, 10, 10, 0.7);
    background-color: var(--branco);
}

#atualizar {
    font-size: clamp(1rem, 1.4vw, 1.3em);
    margin: 1rem auto; 
}

#selecionar-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
}

#selecionar-foto p {
    font-weight: 600;
}

.titulo {
    width: 60%;
    text-align: left;
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    font-weight: bold;
    margin: 0 auto;
    padding-top: 15px;
}

form p,
form label {
    font-size: clamp(1rem, 1.4vw, 1.2rem);
    font-weight: bold;
}

label {
    margin-top: 0.3rem;
}

.retornar {
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
    font-size: clamp(1rem, 1.4vw, 1.2rem);
    text-align: center;
    color: var(--branco);
    margin-bottom: 1em;
}

.retornar a {
    color: var(--branco);
    text-decoration: none;
    font-weight: 600;
}

.retornar a:hover {
    text-decoration: underline;
}